body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
}

.toolbar{
    background: #2e8b8b;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toolbar select,.toolbar button, .toolbar input[type="file"], .toolbar input[type="color"]{
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.toolbar button{
    background-color: white;
    color: #2e8b8b;
    font-weight: bold;
}
.toolbar button:hover{
    background-color: #ddd;
}
.toolbar-icon-button{
    background-color: white;
    color: #2e8b8b;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 4px;
}
.toolbar-icon-button :hover{
    background-color: #ddd;
}
.spreadsheet{
    display: grid;
    grid-template-columns: 40px repeat(20,100px);
    margin: 10px;
    background:white;
    border-radius:8px;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cell,.header{
    border: 1px solid #ccc;
    padding: 6px;
    box-sizing: border-box;
    min-height: 24px;
}

.header{
    background: #edf2f7;
    font-weight: bold;
    text-align: center;
}

.cell[contenteditable]{
    background: #fff;
    outline: none;
}

.row-header {
    grid-column: 1;
    background: #edf2f7;
    text-align: center;
    font-weight: bold;
}

.sheet-container{
    padding: 10px;
}

.new-sheet-btn{
    background-color: #fff;
    color: #2e8b8b;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid #2e8b8b;
}

.new-sheet-btn:hover{
    background-color: #2e8b8b;
    color: white;
}